#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        spc_fn: spc_fn {
            compatible = "zmk,behavior-hold-tap";
            label = "SPC_FN";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <220>;
            bindings = <&mo>, <&kp>;
        };

        fn_question: fn_question {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&kp QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fn_g_bracket: fn_g_bracket {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBRC>, <&kp LBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fn_h_bracket: fn_h_bracket {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RBRC>, <&kp RBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fn_j_pipe: fn_j_pipe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp BSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fn_k_colon: fn_k_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fn_l_quote: fn_l_quote {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DQT>, <&kp SQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fn_n_comma: fn_n_comma {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fn_m_dot: fn_m_dot {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp GT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fn_slash_question: fn_slash_question {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* ROW1: red */
                &kp LCTRL &kp LGUI &kp LALT &none &spc_fn 1 SPACE &kp SPACE &none &kp DOWN &kp RIGHT &kp LEFT &kp BSPC

                /* ROW2: blue */
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp N &fn_question &kp UP &kp M &mo 1

                /* ROW3: yellow */
                &kp TAB &kp A &kp S &kp D &kp F &kp G &kp H &kp K &kp L &kp J &kp ENTER

                /* ROW4: green */
                &kp ESC &kp Q &kp W &kp E &kp R &kp T &kp Y &kp I &kp O &kp U &kp P
            >;
        };

        fn_layer {
            bindings = <
                /* ROW1: red */
                &out OUT_BLE  &out OUT_USB  &trans        &trans        &mkp LCLK     &mkp RCLK     &trans        &msc SCRL_DOWN &msc SCRL_RIGHT &msc SCRL_LEFT &kp PLUS

                /* ROW2: blue */
                &trans        &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &mkp MCLK     &bt BT_SEL 2  &fn_n_comma   &fn_slash_question &msc SCRL_UP &fn_m_dot &trans

                /* ROW3: yellow */
                &trans        &ext_power EP_OFF &ext_power EP_ON &ext_power EP_TOG &trans &fn_g_bracket &fn_h_bracket &fn_k_colon &fn_l_quote &fn_j_pipe &trans

                /* ROW4: green */
                &trans        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp N6        &kp N8        &kp N9        &kp N7        &kp N0
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        bootloader_combo {
            timeout-ms = <80>;
            key-positions = <33 43>;
            bindings = <&bootloader>;
        };

        ext_power_on_combo {
            timeout-ms = <80>;
            key-positions = <33 34>;
            bindings = <&ext_power EP_ON>;
        };
    };
};
