// Jenny40 Mod - full 4x11 matrix
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        /*
         * Columns:
         * COL1  -> D1
         * COL2  -> D5
         * COL3  -> D6
         * COL4  -> D7
         * COL5  -> D9
         * COL6  -> D8
         * COL7  -> D10
         * COL8  -> D14
         * COL9  -> D15
         * COL10 -> D16
         * COL11 -> D18
         */
        col-gpios
            = <&pro_micro 1 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>
            , <&pro_micro 7 GPIO_ACTIVE_HIGH>
            , <&pro_micro 9 GPIO_ACTIVE_HIGH>
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>
            , <&pro_micro 10 GPIO_ACTIVE_HIGH>
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
            , <&pro_micro 16 GPIO_ACTIVE_HIGH>
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>
            ;

        /*
         * Rows:
         * ROW1 -> D0
         * ROW2 -> D2
         * ROW3 -> D3
         * ROW4 -> D4
         */
        row-gpios
            = <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <11>;
        rows = <4>;

        map = <
            RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)  RC(0,5)  RC(0,6)  RC(0,7)  RC(0,8)  RC(0,9)  RC(0,10)
            RC(1,0)  RC(1,1)  RC(1,2)  RC(1,3)  RC(1,4)  RC(1,5)  RC(1,6)  RC(1,7)  RC(1,8)  RC(1,9)  RC(1,10)
            RC(2,0)  RC(2,1)  RC(2,2)  RC(2,3)  RC(2,4)  RC(2,5)  RC(2,6)  RC(2,7)  RC(2,8)  RC(2,9)  RC(2,10)
            RC(3,0)  RC(3,1)  RC(3,2)  RC(3,3)  RC(3,4)  RC(3,5)  RC(3,6)  RC(3,7)  RC(3,8)  RC(3,9)  RC(3,10)
        >;
    };
};

/* ===== TrackPoint PS/2 test config =====
 * Wiring:
 * TrackPoint SCK / CLOCK -> D19
 * TrackPoint SDA / DATA  -> D20
 *
 * RST is NOT connected to MCU.
 * RST is pulled up to VCC through 100k on your small board,
 * matching the rflog-style reset circuit.
 */

#include <dt-bindings/pinctrl/nrf-pinctrl.h>

#define MOUSE_PS2_DRIVER_UART

/* SCL = CLOCK = your SCK line */
#define MOUSE_PS2_PIN_SCL_PRO_MICRO <&pro_micro 19 GPIO_ACTIVE_HIGH>

/* SDA = DATA line */
#define MOUSE_PS2_PIN_SDA_PRO_MICRO <&pro_micro 20 GPIO_ACTIVE_HIGH>

/* D20 = P0.29 on common Pro Micro nRF52840 / nice!nano-style pinout */
#define MOUSE_PS2_PIN_SDA_PINCTRL <NRF_PSEL(UART_RX, 0, 29)>

/* Default recommended baud for many TrackPoints */
#define MOUSE_PS2_UART_BAUD_RATE <14400>

/* Unexposed UART pins used internally by the driver on nice!nano */
#define MOUSE_PS2_PIN_UNEXPOSED_TX <NRF_PSEL(UART_TX, 0, 27)>
#define MOUSE_PS2_PIN_UNEXPOSED_RX <NRF_PSEL(UART_RX, 0, 28)>

#define MOUSE_PS2_DT_PRESENT

&pinctrl {
    uart0_ps2_default: uart0_ps2_default {
        group1 {
            psels = MOUSE_PS2_PIN_UNEXPOSED_TX,
                    MOUSE_PS2_PIN_SDA_PINCTRL;
        };
    };

    uart0_ps2_sleep: uart0_ps2_sleep {
        group1 {
            psels = MOUSE_PS2_PIN_UNEXPOSED_TX,
                    MOUSE_PS2_PIN_SDA_PINCTRL;
            low-power-enable;
        };
    };

    uart0_ps2_off: uart0_ps2_off {
        group1 {
            psels = MOUSE_PS2_PIN_UNEXPOSED_TX,
                    MOUSE_PS2_PIN_UNEXPOSED_RX;
        };
    };
};

&uart0 {
    status = "okay";
    compatible = "nordic,nrf-uarte";
    current-speed = MOUSE_PS2_UART_BAUD_RATE;
    pinctrl-0 = <&uart0_ps2_default>;
    pinctrl-1 = <&uart0_ps2_off>;
    pinctrl-names = "default", "sleep";

    uart_ps2: uart_ps2 {
        status = "okay";
        compatible = "uart-ps2";
        scl-gpios = MOUSE_PS2_PIN_SCL_PRO_MICRO;
        sda-gpios = MOUSE_PS2_PIN_SDA_PRO_MICRO;
    };
};

/ {
    mouse_ps2: mouse_ps2 {
        status = "okay";
        compatible = "zmk,input-mouse-ps2";
        ps2-device = <&uart_ps2>;

        /* TrackPoint speed tuning */
        sampling-rate = <200>;
        tp-sensitivity = <180>;
        tp-val6-upper-speed = <110>;
    };

    mouse_ps2_input_listener: mouse_ps2_input_listener {
        compatible = "zmk,input-listener-ps2";
        status = "okay";
        device = <&mouse_ps2>;

        /* Invert TrackPoint vertical movement */
        tp-y-invert;

    };
};
